.CreateNote {
    background: linear-gradient(
      0deg,
      rgb(191, 99, 224) 0%,
      rgb(103, 142, 186) 100%
    );
    height: 230px;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .CreateInput {
    height: 140px;
    width: 330px;
    border: none;
    background: none;
    padding: 20px;
    margin: 10px;
    resize: none;
    font-size: large;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
  .saveButton{
    width: 60px;
    height: 26px;
    background-color: burlywood;
    border: none;
    border-radius: 15px;
    margin-top: 2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    
  }
  .belowSection{
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width:1400px) {
    .CreateNote{
      height: 200px;
      width: 320px;
    }
    .CreateInput {
      height: 120px;
      width: 300px;
    }
    
}
@media (max-width:1250px) {
  .CreateNote{
    height: 220px;
    width: 390px;
  }
  .CreateInput {
    height: 120px;
    width: 370px;
  }
}
@media (max-width:1050px) {
  .CreateNote{
    height: 200px;
    width: 360px;
  }
  .CreateInput {
    height: 120px;
    width: 335px;
  }
}
@media (max-width:970px) {
  .CreateNote{
    height: 200px;
    width: 320px;
  }
  .CreateInput {
    height: 120px;
    width: 300px;
  }
}
@media (max-width:870px) {
  .CreateNote{
    height: 200px;
    width: 280px;
  }
  .CreateInput {
    height: 120px;
    width: 260px;
  }
}
@media (max-width:760px) {
  .CreateNote{
    height: 200px;
    width: 430px;
  }
  .CreateInput {
    height: 120px;
    width: 410px;
  }
}
@media (max-width:560px) {
  .CreateNote{
    height: 200px;
    width: 340px;
  }
  .CreateInput {
    height: 120px;
    width: 320px;
  }
}
@media (max-width:460px) {
  .CreateNote{
    height: 200px;
    width: 320px;
  }
  .CreateInput {
    height: 120px;
    width: 300px;
  }
}
@media (max-width: 435px) {
  .CreateNote{
    height: 200px;
    width: 300px;
  }
  .CreateInput {
    height: 120px;
    width: 280px;
  }
}
@media (max-width: 400px) {
  .CreateNote{
    height: 200px;
    width: 280px;
  }
  .CreateInput {
    height: 120px;
    width: 260px;
  }
}