.Note {
  background: linear-gradient(
    0deg,
    rgba(37, 217, 213, 1) 0%,
    rgba(25, 152, 149, 1) 100%
  );
  height: 230px;
  width: 350px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.regularInput {
  height: 140px;
  width: 330px;
  border: none;
  background: none;
  padding: 20px;
  margin: 10px;
  resize: none;
  font-size: large;
}
textarea:focus,
input:focus {
  outline: none;
}
.bottomSection {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: rgb(16, 16, 16);
}
.bin {
  height: 19px;
  width: 19px;
  margin-top: 3px;
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.461);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(216, 236, 246, 0.37);
  border-radius: 10px;
}
@media (max-width: 1400px) {
  .Note {
    height: 200px;
    width: 320px;
  }
  .regularInput {
    height: 120px;
    width: 300px;
  }
}
@media (max-width: 1250px) {
  .Note {
    height: 220px;
    width: 390px;
  }
  .regularInput {
    height: 120px;
    width: 370px;
  }
}
@media (max-width: 1050px) {
  .Note {
    height: 200px;
    width: 360px;
  }
  .regularInput {
    height: 120px;
    width: 335px;
  }
}
@media (max-width: 970px) {
  .Note{
    height: 200px;
    width: 320px;
  }
  .regularInput {
    height: 120px;
    width: 300px;
  }
}
@media (max-width: 870px) {
  .Note{
    height: 200px;
    width: 280px;
  }
  .regularInput {
    height: 120px;
    width: 260px;
  }
}
@media (max-width: 760px) {
  .Note{
    height: 200px;
    width: 470px;
  }
  .regularInput {
    height: 120px;
    width: 450px;
  }
}
@media (max-width: 760px) {
  .Note{
    height: 200px;
    width: 430px;
  }
  .regularInput {
    height: 120px;
    width: 410px;
  }
}
@media (max-width: 560px) {
  .Note{
    height: 200px;
    width: 340px;
  }
  .regularInput {
    height: 120px;
    width: 320px;
  }
}
@media (max-width: 460px) {
  .Note{
    height: 200px;
    width: 320px;
  }
  .regularInput {
    height: 120px;
    width: 300px;
  }
}
@media (max-width: 435px) {
  .Note{
    height: 200px;
    width: 300px;
  }
  .regularInput {
    height: 120px;
    width: 280px;
  }
}
@media (max-width: 400px) {
  .Note{
    height: 200px;
    width: 280px;
  }
  .regularInput {
    height: 120px;
    width: 260px;
  }
}


